<myj2c>
	<targets>
		<target>WINDOWS_X86_64</target>
		<!--<target>WINDOWS_AARCH64</target>
		<target>MACOS_X86_64</target>
		<target>MACOS_AARCH64</target>-->
<!--		<target>LINUX_X86_64</target>-->
		<!--<target>LINUX_AARCH64</target>-->
	</targets>
	<options>
	<!--<expireDate>2024-12-12</expireDate>  Expiration date, format:yyyy-MM-dd -->
		<!--String obfuscation-->
		<stringObf>false</stringObf>
		<!--Control flow obfuscation-->
		<flowObf>false</flowObf>
	</options>	<include>
		<!-- Match supports Ant style path matching? Match one character, * match multiple characters, * * match multiple paths -->
		<match className="**" />
		<!--<match className="cn/myj2c/web/**" />-->
		<!--<match className="cn.myj2c.service.**" />-->
	</include>
	<exclude>
		<!--<match className="cn/myj2c/Main" methodName="main" methodDesc="(\[Ljava/lang/String;)V"/>-->
		<!--<match className="cn.myj2c.test.**" />-->
	</exclude>
</myj2c>
